<?xml version="1.0" encoding="utf-8"?>
<Package xmlns="http://schemas.microsoft.com/appx/2010/manifest">
  <Identity Name="664ee175-25ed-4222-9887-b10475c61bbd" Version="1.0.0.0" Publisher="CN=cphar_000" />
  <Properties>
    <DisplayName>Windows8</DisplayName>
    <PublisherDisplayName>YoYo Games Ltd</PublisherDisplayName>
    <Logo>Windows8\images\storelogo.png</Logo>
  </Properties>
  <Prerequisites>
    <OSMinVersion>6.2.0</OSMinVersion>
    <OSMaxVersionTested>6.2.0</OSMaxVersionTested>
  </Prerequisites>
  <Resources>
    <Resource Language="x-generate" />
  </Resources>
  <Applications>
    <Application Id="App" StartPage="Windows8Runner.html">
      <VisualElements DisplayName="Windows8" Logo="Windows8\images\logo.png" SmallLogo="Windows8\images\smalllogo.png" Description="Windows8" ForegroundText="light" BackgroundColor="#464646">
        <DefaultTile ShowName="allLogos" WideLogo="Windows8\images\widelogo.png" />
        <SplashScreen Image="Windows8\images\splashscreen.png" BackgroundColor="#151515" />
      </VisualElements>
      <Extensions>
        <Extension Category="windows.search" />
      </Extensions>
    </Application>
  </Applications>
  <Capabilities>
    <Capability Name="internetClient" />
    <Capability Name="musicLibrary" />
  </Capabilities>
</Package>